<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Explore the beauty of Sri Lanka with our tailored travel experiences.
          Discover the best of beaches, culture, and wildlife.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: clovianatravels&#64;gmail.com</p>
        <p>Phone: +94 123 456 789</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="d-flex">
          <a href="#" class="btn btn-outline-light me-2">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="btn btn-outline-light me-2">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="btn btn-outline-light me-2">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="btn btn-outline-light">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2025 Cloviana Travels. All rights reserved.</p>
    </div>
  </div>
</footer>
