footer {
  background: #212529;
  color: #f8f9fa;
}

footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.9rem;
}

footer .btn-outline-light {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
}

footer .btn-outline-light:hover {
  background: #f8f9fa;
  color: #212529;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #5ab1bb;
}

.social-icon .material-icons {
  font-size: 24px;
  color: white;
}

.social-icon:hover {
  background-color: white;
  color: #000;
}

.social-icon:hover .material-icons {
  color: black;
}
