<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/about/about-cover.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
<div class="container-fluid px-0">
  <div class="about-section">
    <div class="d-flex flex-row col-md-6 px-5">
      <div class="d-flex flex-column align-items-center px-lg-5">
        <h1 class="fw-bold">
          WHO <span class="fw-bold display-1" style="color: #a5c983">W</span
          ><span class="fw-bold display-1" style="color: #5ab1bb">E</span> ARE
        </h1>
        <h1 class="mt-3 about-subtitle">Begin your infinite journey</h1>
        <p class="custom-justify mt-5">
          Welcome to Cloviana Travels, your gateway to unforgettable journeys
          and extraordinary experiences. We are passionate about making travel
          seamless, exciting, and accessible to everyone. Whether you're seeking
          a relaxing beach getaway, a cultural adventure, or an
          off-the-beaten-path exploration, we are here to help you craft the
          perfect itinerary. Our team of travel enthusiasts and experts is
          dedicated to curating the best destinations, travel tips, and
          personalized recommendations to ensure that every trip is a remarkable
          one.
        </p>
        <p class="custom-justify">
          At Cloviana Travels, we believe that travel is more than just visiting
          new places, it's about creating lasting memories, embracing diverse
          cultures, and discovering the beauty of the world. We partner with top
          airlines, hotels, and tour operators to bring you the best deals and
          exclusive offers. From budget-friendly trips to luxury vacations, we
          cater to all travel styles and preferences. With user-friendly booking
          options, detailed guides, and real-time customer support, we strive to
          make your travel planning effortless and enjoyable.
        </p>
        <p class="custom-justify">
          Our commitment goes beyond just offering travel services; we aim to
          inspire and empower you to explore with confidence. Through our blog,
          travel stories, and community engagement, we share firsthand
          experiences and valuable insights to help you make informed decisions.
          Whether you're a solo traveler, a couple, or a family looking for the
          perfect adventure, we are here to guide you every step of the way.
          Start your journey with Cloviana Travels and let us turn your travel
          dreams into reality!
        </p>
      </div>
    </div>
    <div class="d-flex flex-row ps-md-5">
      <div
        class="d-flex flex-column col-md-4 col-sm-12 col-12 align-items-start"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <img src="../../assets/about/Staff.png" class="w-25" />
          <h4>Experience Staff</h4>
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <img src="../../assets/about/Safety.png" class="w-25" />
          <h4>Safest Journey</h4>
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <img src="../../assets/about/Trip_Planner.png" class="w-25" />
          <h4>Best Trip Planners</h4>
        </div>
        <!-- <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <img
            src="../../assets/cloviana-2.jpg"
            class="w-25"
            style="background-color: transparent"
          />
        </div> -->
      </div>
      <div class="d-flex col-md-8 justify-content-end">
        <img src="../../assets/about/Tourists.png" class="w-100 h-100" />
      </div>
    </div>
  </div>
</div>
