<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/home/ella-bridge.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/home/sigiriya.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/home/unawatuna.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
<div class="container-fluid mt-5 px-0">
  <div class="d-flex flex-row">
    <div class="d-flex col-sm-4">
      <img src="../../assets/home/IM-02.png" class="w-100 img-1" />
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center home-title"
    >
      <h1 class="fw-bold">WELCOME</h1>
      <h4 class="fw-semibold mt-2">To</h4>
      <img src="../../assets/home/cloviana-2.jpg" class="w-50" alt="Logo" />
    </div>
    <div class="d-flex col-sm-4">
      <img src="../../assets/home/IM-01.png" class="w-100 img-1" />
    </div>
  </div>
  <div
    class="d-flex flex-row col-12 align-items-center justify-content-center home-desc"
  >
    <p class="col-md-4 p-2 p-md-0">
      Embark on unforgettable journeys with us...! Whether you're dreaming of a
      tropical escape, a cultural adventure, or a scenic road trip, we’re here
      to make your travel planning effortless. Discover top destinations,
      exclusive deals, and expert tips to create the perfect itinerary. Start
      exploring today and turn your travel dreams into reality...!
    </p>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row d-flex flex-wrap-reverse">
    <div class="col-lg-6 col-md-6">
      <div class="row mt-2 block-1">
        <div class="col-9 d-flex justify-content-start pt-3 pb-2">
          <h4 class="">CULTURAL HERITAGE TOUR</h4>
        </div>
        <div class="col text-end pt-2 pb-2">
          <img src="../../assets/home/Arrow.png" class="arrow" />
        </div>
      </div>
      <div class="row mt-2 block-2">
        <div class="col-9 d-flex justify-content-start pt-3 pb-2">
          <h4>BEACH BLISS TOUR</h4>
        </div>
        <div class="col text-end pt-2 pb-2">
          <img src="../../assets/home/Arrow.png" class="arrow" />
        </div>
      </div>
      <div class="row mt-2 block-1">
        <div class="col-9 d-flex justify-content-start pt-3 pb-2">
          <h4>HILL COUNTRY ADVENTURE TOUR</h4>
        </div>
        <div class="col text-end pt-2 pb-2">
          <img src="../../assets/home/Arrow.png" class="arrow" />
        </div>
      </div>
      <div class="row mt-2 block-2">
        <div class="col-9 d-flex justify-content-start pt-3 pb-2">
          <h4>WILD LIFE AND SAFARI EXPERIENCE</h4>
        </div>
        <div class="col text-end pt-2 pb-2">
          <img src="../../assets/home/Arrow.png" class="arrow" />
        </div>
      </div>
    </div>
    <div
      class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center"
    >
      <div
        class="d-flex flex-column align-items-center justify-content-center text-center"
      >
        <h1 class="fw-bold home-title">EXPLORE</h1>
        <h4 class="fw-semibold home-subtitle">Discover Your Tour</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 ps-0 pe-0 d-flex justify-content-start">
      <img src="../../assets/home/experience-1.jpg" class="w-100 h-100" />
    </div>
    <div
      class="col-lg-4 col-md-6 d-flex flex-column h-100 row-gap-4 align-items-center"
    >
      <div class="equal-box mt-md-0 mt-3 p-3">
        <div class="d-flex align-items-center">
          <p>
            Step out of the ordinary and embrace the extraordinary. Dive into
            crystal-clear waters, hike through majestic mountains, or immerse
            yourself in diverse cultures. No matter your travel style, we curate
            experiences that inspire, excite, and connect you with the beauty of
            the world.
          </p>
        </div>
      </div>
      <div class="equal-box">
        <img src="../../assets/home/experience-2.jpg" />
      </div>
    </div>
    <div class="col-2" style="background-color: #5ab1bb"></div>
  </div>
  <div class="row mt-4">
    <div
      class="d-flex flex-column align-items-center justify-content-center text-center"
    >
      <h1 class="fw-bold home-title">EXPERIENCE</h1>
      <h4 class="fw-semibold home-subtitle">Memories Last Forever</h4>
    </div>
  </div>
</div>
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-lg-4 col-md-12 ps-0 pe-lg-2 pe-0">
      <img src="../../assets/home/experience-3.jpg" class="w-100 h-100" />
    </div>
    <div
      class="col-lg-4 col-md-12 mt-md-3 mt-lg-0 mt-3 d-flex align-items-center"
      style="background-color: #5ab1bb"
    >
      <div class="equal-box-2 d-flex px-3">
        <p>
          From breathtaking landscapes to vibrant cityscapes, every journey is
          an opportunity to create lifelong memories. Whether you're exploring
          ancient ruins, indulging in local cuisine, or seeking thrilling
          adventures, we bring you the best experiences from around the world.
          Let every trip be a story worth telling!
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 ps-lg-2 pe-0 ps-0 mt-sm-0 mt-3">
      <img src="../../assets/home/experience-4.jpg" class="w-100" />
    </div>
  </div>
</div>
<!-- <div
  id="carouselExampleSlidesOnly"
  class="carousel slide mt-5"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1>Review 1</h1>
    </div>
    <div class="carousel-item">
      <h1>Review 2</h1>
    </div>
    <div class="carousel-item">
      <h1>Review 3</h1>
    </div>
  </div>
</div> -->
